html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  min-height: 100vh;
}

.btn {
  padding: clamp(14px, 2vw, 18px) clamp(22px, 2vw, 26px);
  font-size: clamp(24px, 2.5vw, 28px);
  min-height: 44px;
  min-width: 44px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  background: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}

.btn:focus {
  outline: none;
}

.container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0c0c0c;
}

.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("./noise.png") repeat;
  background-size: auto;
  opacity: 0.1;
  pointer-events: none;
  filter: contrast(200%);
}

.gradient-layer {
  position: absolute;
  inset: 0;
  transition: opacity 1.2s ease;
  background-size: 300% 300%;
  animation: slowMove 12s linear infinite alternate;
  filter: blur(10px) saturate(120%);
}

.gradient-layer.next {
  opacity: 0;
}

.gradient-layer.active {
  opacity: 1;
}

@keyframes slowMove {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 50% 75%;
  }
  50% {
    background-position: 100% 75%;
  }
  75% {
    background-position: 50% 25%;
  }
  100% {
    background-position: 0% 25%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .gradient-layer {
    animation: none;
  }
}

/* ПРОВЕСТИ ОПТИМИЗАЦИЮ - СЕЙЧАС СИЛЬНО ЛАГАЕТ */
/* убрать выделение с кнопки при тапе на мобилке */
